language: php
php:
  - "5.5"
  - "5.4"
  - "5.3"
before_install:
  - composer self-update
install:
  - composer install --no-interaction --prefer-source
script:
  - ./vendor/bin/phpcs .
  - ./vendor/bin/phpunit
